.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.topBarActions {
  position: absolute;
  inset: 16px 16px auto auto;
}

.topBarActions :not(:last-child) {
  margin-right: 16px;
}

.topBarActions button {
  text-align: center;
  height: 32px;
  font-size: 16px;
  padding: 0 12px 0 12px;
}

.topBarActions .playerModalToggle {
  padding: 0 0 0 0;
  width: 32px;
  font-size: 18px;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
}

.questionBtn {
  margin: 4px;
  grid-column: auto;
  min-width: 30px;
  height: 30px;
  border: 2px solid #5aa;
  border-radius: 4px;
}

.questionBtn:disabled {
  background-color: #ddd;
  border: 1px solid #aaa;
}

.help {
  font-size: 2rem;
}

.title,
.help {
  text-align: center;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
